body {
  background-color: #fff;
  color: #333;
  font-family: Comic Sans MS, verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; 
  padding: 1em; }

p, ol, ul, td {
  font-family: Comic Sans MS, verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

h2 {
  padding-bottom: 10px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: black;
  text-decoration: none;
  &:visited {
    color: black; }
  &:hover {
    color: white;
    background-color: LightGrey; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

ul {
  list_style_type: none;
}

li {
  display: inline-block;
  width: 20%;
}

table {
  border-collapse:collapse;
  padding: 3px;
  width: 100%;
}

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

.list_header {
  background: Silver;
}
.list_line_odd {
  background: #E5E5E5;

}

.list_line_even {
  background: White;
}

.listing_articles {
}

.list_image {
  width: 5px;
  height: 5 px;
}

.article_table {
  text-align: left;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 3px;
  padding-right: 1px;
}

.center_align {
  text-align: center;
}

.left_margin {
  margin-left: 2cm;
}

.mytooltip {
  cursor: pointer;
  color: black;
}

.column {
  width: 50%;
  display: inline-block;
}

.fr {
  float: right;
}

.scroll_bar{
  height: 200px; 
  overflow: auto;
  font-size: 12px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.home_page_padding {
  padding-bottom: 20px;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }
