body {
}


div {
	vertical-align: top;
}

hgroup {
	background: LightGrey;
	color: Grey;
	font-size: 1em;
	line-height: 0.3em;
	letter-spacing: -1px;
	padding-left: 0.7em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}

h1 {
	font-size:2em;
	color: black;
	letter-spacing: -3px;
}

h2 {
	font-size:1.5em;
	letter-spacing: -1px;
	line-height: 0;
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

h3 {
	font-size: 1.1em;
	letter-spacing: -1px;
	line-height: 0.7em;
	margin: 0;
}

footer {
	background: #EAEAEA;
	color: Black;
	border: 1px solid #EAEAEA;
	font-size: 0.9em;
	text-align: center;
	line-height: 0.4em;
	letter-spacing: -1px;
	word-spacing: 2px;
}
	
nav {
	background: black;
	color: white;
	border: 1px solid black;
}

nav ul {
	list-style-type: none;
	padding: .6em;
	padding-right: .7em;
	padding-left: .2em;
	margin: 0.5em;
	font-size: 1em;
	font-weight: bold;
	line-height: 0;
}

nav li {
	display: inline;
	
}

a {
	color: white;
	text-decoration: none;
	padding-right: 2em;
}

a:hover {
	color: blue;
}

.half {
	width: 50%;
}

.fr {
	float: right;
	background: #ECF6FF;
	padding: 0.5em;
	font-size: 1.1em;
	width: 20;
	height: 3.5em;
	margin: 0;
}

.option {
	overflow: hidden;
	background: white;
	padding: 0.7em;
}

.center {
	background:DarkGrey;
	margin: auto;
	color: black;
	font-size: 1em;
	font-family: Arial;
	width:960px;
	border: 1px solid black;
}

.column{
	width: 20%;
	display: inline-block;
}


.eliminate{
	margin-top:0;
}

.am {
	padding-top: .9em;
}