-content_for :subtitle do
  .general_subtitle= "...not just for the country of Spain"

-content_for :nav do
  %ul.show_nav_bar
    %li
    = link_to articles_path, title: "List all Articles" do 
      = image_tag("arrow_left.png") 
      list all articles
  
%h1== Creating a New Article

.before_content_padding= render 'form'
